{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
	<div class="container" style="padding-top: 60px;">
		<div class="container" style="padding-top: 15%; width: 100%; display: flex; align-items: center; justify-content: center;">
			<div class="container" style="text-align: center;">
				<h1 align="center" style="font-size: 70px; margin-bottom: 30px;"><b>Page Not Found</b></h1>
				<p style="font-size: 20px;">go back to <a href="/">home page</a></p>
			</div>
		</div>
	</div>
{% endblock %}
