{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
<div class="container-fluid">
    <ul class="list-group" id="comments">
        <li class="list-group-item active">
            <h2>Comments</h2>
        </li>
        {% for c in comments %}
            <li class="list-group-item">
                <div class="row" style="display: flex; align-items: center; justify-content: center;">
                    <div class="col-sm-10" style="display: flex; align-items: center; justify-content: baseline; padding-left: 50px;">
                        <p style="overflow-wrap: break-word;">
                            News ID: <a style="text-decoration: none;" href="/news/{{ c.news_id }}">{{ c.news_id }}</a>
                            <br />
                            User ID: {{ c.user_id }}
                            <br />
                            Date: {{ c.date }}
                            <br />
                            Content: <b>{{ c.content }}</b>
                        </p>
                    </div>
                    <div class="col-sm-2" style="display: flex; align-items: center; justify-content: center;">
                        <a type="button" class="btn btn-danger" href="{{ url_for('views.delete_comment', comment_id=c.id, news_id=c.news_id) }}">remove</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
