{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
<div class="container-fluid">
    <ul class="list-group" id="comments">
        <li class="list-group-item active">
            <h2>Comments</h2>
        </li>
        {% for c in comments %}
            <li class="list-group-item">
                <div class="media" style="display: flex; align-items: center;">
                    <div class="media-body" style="width: 50%; padding-right: 15px;">
                        <p style="overflow-wrap: break-word;">
                            News ID: <a style="text-decoration: none;" href="/news/{{ c.news_id }}">{{ c.news_id }}</a>
                            <br />
                            User ID: {{ c.user_id }}
                            <br />
                            Date: {{ c.date }}
                            <br />
                            Content: {{ c.content }}
                        </p>
                    </div>
                    <div class="media-right">
                        <a type="button" class="btn btn-danger" href="{{ url_for('views.delete_comment', comment_id=c.id, news_id=c.news_id) }}">remove</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
