{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 style="display: flex; justify-content: center; align-items: center; margin: auto; padding-bottom: 15px;">
    {% if searchQ == None %}
        Latest News
    {% else %}
        Found {{sLen}} results for {{searchQ}}
    {% endif %}
</h1>
<ul class="list-group list-group-flush" id="news">
    {% for n in news %}
        <li class="list-group-item">
            <a style="text-align: justify; text-justify: inter-word; text-decoration: none; color: #000000" href="{{ url_for('views.news_page', news_id=n.id) }}" onmouseover="this.style.color='#666666'" onmouseout="this.style.color='#000000'">
                <div class="row">
                    {% if n.image_url %}
                        <div class="col-lg-6" style="display: flex; justify-content: center; align-items: center;">
                            <img src={{ n.image_url }} alt="news-img-{{ n.id }}" class="img-rounded" style="width: 450px; height: 275px;">
                        </div>
                    {% else %}
                    <div class="col-lg-6" style="display: flex; justify-content: center; align-items: center;">
                        <img src="https://img.freepik.com/premium-vector/mobile-phone-with-ukrainian-flag-screen-hands-phrase-stop-war-smartphone-flat-vector-illustration-person-getting-latest-news-internet-freedom-peace-gadget-concept_74855-24927.jpg?w=1380" alt="news-img-{{ n.id }}" class="img-rounded" style="width: 450px; height: 275px;">
                    </div>
                    {% endif %}
                    <div class="col-lg-6" style="display: flex; justify-content: center; align-items: center; width: 450px; height: 275px;">
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <h3>
                                {{ n.title }}
                                <div style="height: 10px;"></div>
                                <small>
                                    <i>{{ n.published }}</i>
                                </small>
                            </h4>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
