{% extends "base.html" %} 

{% block title %}Login{% endblock %}

{% block content %}
    <form method="POST">
        <h3 align="center">Login</h3>
        <div class="form-group">
        <label for="email">Email Address</label>
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
        />
        </div>
        <div class="form-group">
        <label for="password">Password</label>
        <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter password"
        />
        </div>
        <a href="/passwordReset" style="margin-right: 10px;">Forgot My Password</a>
        <div class="g-recaptcha" data-sitekey="{{ config.RECAPTCHA_SITE_KEY }}" style="margin-top: 10px;"></div>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Login</button>
    </form>
{% endblock %}
