{% extends "base.html" %}

{% block title %}News Page{% endblock %}

{% block content %}
<div style="text-align: justify; text-justify: inter-word; width: 75%; margin-left: 12.5%;">
    <h1 align=""center> {{ news.title }} </h1>
    <i>Published at {{ news.published }}</i>
    <br>
    <div style="display: flex; justify-content: center; align-items: center;">
        {% if news.image_url %}
            <div class="media-left" style="margin-top: 10px;">
                <img src={{ news.image_url }} alt="news-img-{{ news.id }}" class="media-object" style="width: 600px; height: 400px; margin-right: 20px;">
            </div>
        {% endif %}
    </div>
    <p style="margin-top: 15px;">{{ news.content }}</p>
    <p>
        to read more visit <a href="{{ url_for('views.redirect_user', url=news.link) }}">source</a> of this news.
    </p>
    <h2>Comments</h2>
    <ul class="list-group list-group-flush" id="news" style="text-align: justify; text-justify: inter-word;">
        {% for c in news.comments %}
            <li class="list-group-item">
                <div class="media">
                    <div class="media-body" style="width: 100%;">
                        <h4 class="media-heading">{{ c.getUser() }}&nbsp;<small><i>Posted on {{ c.date }}</i></small></h4>
                        <p class="mb-0" style="overflow-wrap: break-word;">
                            {{ c.content }}
                        </p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <form method="POST">
        <textarea name="comment" id="comment" class="form-control"></textarea>
        <br />
        <div align="center">
            <button type="submit" class="btn btn-primary">Add Comment</button>
        </div>
    </form>
</div>
{% endblock %}
