{% extends "base.html" %}

{% block title %}News Page{% endblock %}

{% block content %}
<h1 align=""center> {{ news.title }} </h1>
<i>{{ news.published }}</i>
<br>
<a  href="{{ url_for('views.redirect_user', url=news.link) }}">go to source of news</a>
<p>{{ news.content }}</p>
<h2>Comments</h2>
<ul class="list-group list-group-flush" id="news">
    {% for c in news.comments %}
        <li class="list-group-item">
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">{{ c.getUser() }}&nbsp;<small><i>Posted on {{ c.date }}</i></small></h4>
                    {% if user.role.isAdmin() %}
                        <a style="text-decoration: none; color: #000000;" class="close" href="{{ url_for('views.delete_comment', comment_id=c.id, news_id=news.id) }}">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    {% endif %}
                    <p>{{ c.content }}</p>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="comment" id="comment" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </div>
</form>
{% endblock %}
