{% extends "base.html" %} 

{% block title %}Password Reset{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 50px; width: 40%; display: flex; align-items: center; justify-content: center;">
        <form method="POST">
            <h3 align="center" style="margin-bottom: 25px;">Password Reset</h3>

            <div class="form-group">
                <label for="email">Email Address</label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter email"
                />
            </div>
            <div class="g-recaptcha" data-sitekey="{{ config.RECAPTCHA_SITE_KEY }}" style="margin-top: 10px; transform: scale(0.9);"></div>
            
            <div style="display: flex; align-items: center; justify-content: center;">
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Reset</button>
            </div>
        </form>
    </div>
{% endblock %}