{% extends "base.html" %} 

{% block title %}PasswordReset{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 50px; width: 40%; display: flex; align-items: center; justify-content: center;">
        <form method="POST">
            <h3 align="center" style="margin-bottom: 25px;">Password Recovery</h3>

            <div class="form-group">
                <label for="email">Password</label>
                <input
                    type="password"
                    class="form-control"
                    id="new_password"
                    name="new_password"
                    placeholder="Enter your new password"
                />
            </div>

            <div class="form-group">
                <label for="email">Password Again</label>
                <input
                    type="password"
                    class="form-control"
                    id="new_password_again"
                    name="new_password_again"
                    placeholder="Enter new password again"
                />
            </div>
            <div class="form-group">
                <label for="email">6-Digit Code</label>
                <input
                    type="text"
                    class="form-control"
                    id="six_digit"
                    name="six_digit"
                    placeholder="Enter six-digit code"
                />
            </div>

            <div class="g-recaptcha" data-sitekey="{{ config.RECAPTCHA_SITE_KEY }}" style="margin-top: 10px; transform: scale(0.9);"></div>
            
            <div style="display: flex; align-items: center; justify-content: center;">
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Reset</button>
            </div>
        </form>
    </div>
{% endblock %}