{% extends "base.html" %}

{% block title %}User Page{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container" style="display: grid; place-items: center;">
            <h1 align="center">{{ userName }}</h1>
            <a class="btn btn-info" href="/users/my-details" style="margin-top: 50px;">
                Account Details
            </a>
        </div>

        <div class="container">
            {% if count > 0 %}
                <h3 align="center" style="margin-bottom: 35px; margin-top: 50px;">My Comments</h3>
                <div class="container">
                    <div class="row">
                        {% for c in comments %}
                            <div class="col-sm-6" style="padding: 10px; margin-bottom: 10px; text-align: justify; text-justify: inter-word;">
                                Title: <strong>{{ c.getNews().title }}</strong>
                                <br/>
                                Comment: <strong>{{ c.content }}</strong>
                                <br/>
                                Date   : <strong><i>{{ c.getDatePrintable() }}</i></strong>
                                <br/>
                                <a href="/news/{{c.news_id}}" style="text-decoration: none;">Revisit</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
